* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
   
    }
    
    ul {
        list-style: none;
        
     text-align: left;
       
      
    }
    
    a {
    
        text-decoration: none;
        color: rgb(223, 219, 210);
        font-size: 15px;
        justify-content: left;
        font-weight: 500;
    }
    
    .grid-container {
    display: grid; 
    align-items: center;
   
   
 

    }


/* ESTILOS HEADER */

    header.grid-container {
        display: grid;
        grid-template-columns: auto 1fr auto; /* Tres columnas: una para el logo, otra para la navegación y otra para la búsqueda */
        align-items: center; /* Alinea verticalmente los elementos */
        justify-content: center;
        text-align: center;
    }

/* .buscar {
    grid-column: 2; /* Coloca el elemento .buscar en la segunda columna */
    display: flex; /* Utiliza flexbox */
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
    align-items: center; /* Alinea verticalmente los elementos */
} 
 */
    input[type="text"] {
padding-left: 30px;
padding-right: 30px;
font-size: 12px;
padding: 10px 30px;
border-radius: 20px;



 }
    

 .buscar i {
margin-left: -30px; /* Ajusta el margen izquierdo para superponer el ícono sobre el input */
    .buscar i {
    grid-column: 2; /* Coloca el ícono en la segunda columna */
    margin-right: 10px; /* Ajusta el margen izquierdo para agregar espacio entre el input y el ícono */
    
 
}

} 



    header > img {
    width: 100%;
    object-fit: contain;
    
    }
    
    header.grid-container{
    
        grid-template-columns: 100px 1fr;
        padding: 20px;
        gap: 50px;
        justify-items: end;
        background-color: black;
        
    }
    
    .menu {
    display: none;
    width: 30px;
    cursor: pointer;
    }
    
    header > nav {
    width: 100%;
    
    
    }

    
a i {
    margin-right: 5px; /* Aplica un margen a la derecha de los iconos */
}

    
    .list {

    grid-template-columns: repeat(6, 1fr);
    font-size: 10px;
    gap: 20px;
   
    padding-top: 3px;
   
    
    }

      








    /* ESTILOS HERO */

    /* IMAGEN  */



    #hero img {
        max-width: 100%; /* La imagen no superará el ancho del contenedor padre */
        height: auto; /* La altura se ajustará automáticamente manteniendo la proporción */
        display: block; /* Convierte la imagen en un bloque para poder centrarla */
        margin: 0 auto; /* Centra la imagen horizontalmente */
       
    }
    
    #hero {
        display: flex;             /* Activa Flexbox en el contenedor */
        justify-content: center;   /* Centra horizontalmente */
        align-items: center;       /* Centra verticalmente */
        height: 100vh;             /* O cualquier altura deseada, pero 100vh ocupará toda la altura de la ventana */
        text-align: center;        /* Asegura que el texto dentro del h1 también esté centrado horizontalmente */
        background-color: black;   /* Fondo para hacerlo visible (opcional) */
        color: aliceblue;          /* Color del texto (opcional) */
    }
    


     #hero h1 {
text-align: center;
align-content: center;
justify-content: center;
padding-left: 10% ;

     }               
   
   
 
    imagen {
        grid-area: imagen;
        background-color: #161616ee;
                               
    }


    #hero h1 > span {
        background-image: linear-gradient(45deg, #a79f35, #67bb67, rgb(135, 165, 192), rgb(189, 206, 33)); /* Define el gradiente de verde */
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent; 


    }

.imagen {
display: grid;
grid-template-columns: 1fr;

}


/* ESTILOS VIDEO */


   /*  VIDEO */

   .video-container {
    position: relative;
    display: grid;
    place-items: center;
  }
  
  .video {
    max-width: 100%;
    height: auto;
  }
  
 
  /* ESTILOS CARDS */




  #cards-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr); /* Crea dos columnas */
    grid-template-rows: auto auto; /* Crea tantas filas como sean necesarias, en este caso, dos */
    gap: 10px; /* Espacio entre tarjetas */
    justify-content: center; /* Centra el contenido horizontalmente */
    justify-items: center;
    align-items: center; /* Centra el contenido verticalmente */
    align-content: center;
    padding-left: 10%;
     
    background-color: black;
    color: aliceblue;
}


  .card {
display: grid;
width: auto; 
margin: 200px auto; /* Así le ponemos un margin top y bottom  */
padding: 10px 0px ; /* Arriba y abajo 10px y 0 px a la izquierda y a la derecha */
border-radius: 10px;
gap: 20px; /* Este gap solo separa los hijos de card (h4, la imagen, el parrafo y el div) */
box-shadow: 0px 6px 23px -15px black ; /* El profe lo ha sacado de un shadow generator de internet */
/* 0px --> izquierda y derecha   
6px --> arriba y abajo (positivos hacia abajo y negativos hacia arriba
23px --> es el difuminado 
-15 --> Como de fuerte se va a ver la sombra; */
transition: transform 0.5s;
}

.card:hover { /* Le vamos a decir a la carta que cuando pasemos el ratón por encima (cuando hagamos hover),
    vamos a utilizar la propia transform para escalar a 1.1 lo que mide la propia carta */
transform: scale(1.1);  


}

.card > img {
    width: 100%;
    object-fit: contain;  /* Para que no se nos salga la imagen y podamos ir viendo nuestra carta por completo. */
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    
}

.card > h4 { /* Vamos a maquetar el titulo de la carta */
    font-size: 20px;


}

.card > div { /* Para maquetar a la vez el precio y el botón
 */
grid-template-columns: 1fr 1fr; /* Y que se vea el precio a la izquierda y el botón a la derecha. Aquí no 
usamos el repeat porque son solo dos columnas y no tiene mucho sentido*/
} 

.description {
text-align: justify;
margin: 0px 20px; /* 0 margenes arriba y abajo y 20px a la izquierda y a la derecha */

}

.card button {
cursor: pointer;
padding: 10px 10px;
margin: 10px; /* Para que el boton se vaya un poco mas hacia los bordes */
border: 1px solid aliceblue;
border-radius: 15px;
background-color: black;
color: aliceblue;
width: 100px;
}
 

footer {
            
    position: relative;
     bottom: 0; /* En la parte de abajo de la pagina */
     left: 0;
     width: 100%;
     display: flex;
     padding: 50px;
     justify-content: space-between;
     gap: 30px;
     flex-wrap: wrap;
     background-color:  black;
     
   
     
 }
 

footer ul {
     list-style: none;
     width: 250px;
     color: aliceblue;
     font-size: 20px;
     font-weight: 700;
     font-size: 15px;
     justify-content: center;
     align-items: center;
     text-align: center;

    }

                                       /* RESPONSIVE */
    
    @media (max-width: 768px) {

        #cards-container {
         display: grid;  
         width: 100%;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
     } 
  
 
    
 
     .card {
       width: 90%;  
       margin: 20px auto;
     justify-content: center;
     align-items: center;
     justify-items: center;
     text-align: center;
     }
 
 
     .menu {
         display: block;
     
     }
     
     header > nav {
         display: none;
     }
     
     #hero {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         box-sizing: border-box;
         width: 100%;
         max-height: 300px;
 
  }
 
 
 
  #hero img {
 width: 90%;
 height: auto;
 max-height: 200px;
     
     }
 
    footer {
align-items: center;
align-content: center;
justify-content: center;

    }
    
    
 
 }   
 
 
 